{% include 'header.html' %}

<div id="mensaje" class="text-center" style="color: red; margin-bottom:10px;"></div>

<div class="row text-center">
    <form class="form-factura" method="post" action="/verificar_cedula" enctype="multipart/form-data"> 
    
            <h1 class="h3 mb-3 fw-normal">Representante</h1>

            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Fecha</label>
                <input id="txtFecha" class="form-control col-8" type="date" name="txtFecha">
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Cédula</label>
                <select class="form-select form-select-lg" id="cod_cedula" style="margin-right:14px">
                    <option value="1">V</option>
                    <option value="2">J</option>
                    <option value="3">E</option>
                </select>
                <input id="txtCedula" class="form-control col-7" type="text" name="txtCedula" pattern="[0-9\s]+" title="Sólo se permiten números" required>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Nombre</label>
                <input id="txtNombre" class="form-control col-8" type="text" name="txtNombre" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres" required>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Apellido</label>
                <input id="txtApellido" class="form-control col-8" type="text" name="txtApellido" required>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Dirección</label>
                <input id="txtDireccion" class="form-control col-8" type="text" name="txtDireccion" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres">
            </div>
        </form>

        <form class="form-productos" method="post" action="/verificar_terapia" enctype="multipart/form-data" style="margin-left:20px;" > 
    
            <h1 class="h3 mb-3 fw-normal">Productos</h1>

            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Terapia</label>
                <select class="form-select form-select-lg" id="txtTerapia" name="txtTerapia" style="margin-right:14px;">
                    <option value="null">Seleccione...</option>
                    <option value="Lenguaje">Lenguaje</option>
                    <option value="Psicopedagogia">Psicopedagógica</option>
                    <option value="Ocupacional">Ocupacional</option>
                </select>
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Cantidad</label>

                <input id="txtCantidad" class="form-control col-5" type="text" name="txtCantidad" pattern="[0-9\s]+" title="Sólo se permiten números" required>
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Precio</label>
                <input id="txtPrecio" class="form-control col-5" type="text" name="txtPrecio" pattern="[0-9\s]+" title="Sólo se permiten números" readonly required>
            </div>
            <div>
                <a class="btn btn-success" href="#" onclick="agregarProducto()">Agregar</a>
            </div>

        </form>
</div>


    <table id="tabla_factura" class="table-wrapper-scroll-y my-custom-scrollbar table table-light tablas border border-secondary rounded w-100"
           style="height: auto;" cellspacing="0"> 
        <thead class="thead-light"> 
            <tr> 
                <th style="text-align: center;">Cantidad</th> 
                <th style="width: 50%; text-align: center;">Producto</th> 
                <th style="width: 30%; text-align: center;">Precio/U</th> 
                <th style="width: 30%; text-align: center;">Subtotal</th> 
            </tr> 
        </thead> 
        <tbody> 
            <tr> 

            </tr> 

            <td colspan="3" style="font-size:20px; display:none;"><strong>Total a Pagar</strong></td> 
            <td id="total" class="centrado" style="display:none;"> <strong> </strong> </td> 
        </tbody> 
    </table>


    </div>
    <br>
    <div class="text-center">
        <a class="btn btn-info" href="/menu" onclick="goBack()">Volver</a>
        <a class="btn btn-success" href="#" onclick="guardarPDF()">Guardar</a>
        <a class="btn btn-warning" href="#"  onclick="limpiarTabla()">Limpiar</a>
    </div>  


    <script>
        
        // <!-- Codigo para verificar la cedula -->

        document.getElementById('txtCedula').addEventListener('input', function() {

        // var cedula = document.getElementById('cod_cedula').value + this.value; // Agregar el valor de cod_cedula
        var cedula = this.value;

        
        // Realizar la solicitud AJAX al servidor 
        var xhr = new XMLHttpRequest(); 
        xhr.open('POST', '/verificar_cedula'); 
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
        
        xhr.onreadystatechange = function() { 
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) { 
                var response = JSON.parse(xhr.responseText); 
                document.getElementById('txtNombre').value = response.nombre; 
                document.getElementById('txtApellido').value = response.apellido; 
                document.getElementById('txtDireccion').value = response.direccion; 
            } 
        }; 
        
        xhr.send('txtCedula=' + encodeURIComponent(cedula)); // Enviar el valor directamente en el cuerpo de la solicitud
        }); 


        // Codigo para rellenar el precio de la terapia

                
        document.getElementById('txtTerapia').addEventListener('input', function() {

        // var cedula = document.getElementById('cod_cedula').value + this.value; // Agregar el valor de cod_cedula
        var terapia = this.value;


        // Realizar la solicitud AJAX al servidor 
        var xhr = new XMLHttpRequest(); 
        xhr.open('POST', '/verificar_terapia'); 
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 

        xhr.onreadystatechange = function() { 
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) { 
                var response = JSON.parse(xhr.responseText); 
                document.getElementById('txtPrecio').value = response.precio;
            } 
        }; 

        xhr.send('txtTerapia=' + encodeURIComponent(terapia)); // Enviar el valor directamente en el cuerpo de la solicitud
        });

        // Codigo para agregar productos a la factura

        function agregarProducto() {

            // Capturar valores de los campos de entrada 
            var terapia = document.getElementById("txtTerapia").value; 
            var cantidad = document.getElementById("txtCantidad").value; 
            var precio = document.getElementById("txtPrecio").value;
            

            //Evitar la ejecución de la función si el usuario no ha seleccionado
            //una terapia válida o ha ingresado una cantidad válida

            if( terapia == 'null' || cantidad == ''){
                return
            }

            // Crear nueva fila en la tabla 
            var tabla = document.getElementById("tabla_factura"); 
            var nuevaFila = tabla.insertRow(tabla.rows.length - 1); 

            // Insertar valores en las celdas de la nueva fila  
            var celdaCantidad = nuevaFila.insertCell(0);  
            celdaCantidad.innerHTML = cantidad;  
            celdaCantidad.classList.add("centrado"); // Agregar clase centrado

            var celdaTerapia = nuevaFila.insertCell(1);  
            celdaTerapia.innerHTML = terapia;  
            celdaTerapia.classList.add("centrado"); // Agregar clase centrado

            var celdaPrecio = nuevaFila.insertCell(2);  
            celdaPrecio.innerHTML = precio;  
            celdaPrecio.classList.add("centrado"); // Agregar clase centrado

            var celdaSubtotal = nuevaFila.insertCell(3);  
            celdaSubtotal.innerHTML = cantidad * precio;  
            celdaSubtotal.classList.add("centrado"); // Agregar clase centrado

            actualizarTotal();
        }





    function actualizarTotal() { 
            var tabla = document.getElementById("tabla_factura"); 
            var total = 0; 
            for (var i = 1; i < tabla.rows.length - 1; i++) { 
            // Fragmento de código para verificar primero si la celda existe o no 
            // Por algún motivo siempre se obtiene primero un valor 'undefined', 
            // con esta condición ya no sucede y funciona correctamente 
            if (tabla.rows[i].cells[3]) { 
                // Celda existe, acceder a su valor 
                var subtotal = parseFloat(tabla.rows[i].cells[3].innerHTML); 
                total += subtotal; 
            } else { 
                // Celda no existe, hacer algo en consecuencia 
            } 
        } 
    tabla.rows[tabla.rows.length - 1].cells[1].innerHTML = "<strong>" + total.toFixed(2) + "</strong>"; 

    // Obtener la fila "Total a Pagar"
    var filaTotal = tabla.rows[tabla.rows.length - 1];

    // Establecer la propiedad display en table-cell
    filaTotal.cells[0].style.display = "table-cell";
    filaTotal.cells[1].style.display = "table-cell";
} 


function limpiarTabla() {
    var tabla = document.getElementById("tabla_factura");
    if (!tabla) {
        console.error("La tabla 'tabla_factura' no existe en el HTML");
        return;
    }
    var numFilas = tabla.rows.length;


    // Eliminar todas las filas excepto la primera (cabecera) y la última (total a pagar)
    for (var i = numFilas - 2; i > 0; i--) {

        tabla.deleteRow(i);
    }

    numFilas = tabla.rows.length;


    //Mismo caso anterior, por alguna razon primero devuelve
    //un valor 'undefined' antes de acceder a la celda real
    // y es por eso que utilizo 'for'
    for (var i = 1; i < tabla.rows.length - 1; i++) { 
            if (tabla.rows[1].cells[3]) { 
                console.log(tabla.rows[numFilas - 1].cells[3]);
                tabla.rows[numFilas - 1].cells[3].innerHTML = "0.00";
            }
    }

    // Ocultar la fila "Total a Pagar"
    var filaTotal = tabla.rows[numFilas - 1];
    filaTotal.cells[0].style.display = "none";
    filaTotal.cells[1].style.display = "none";
}


function obtenerDatosTabla() { 
  var tableData = []; 
  var total_a_pagar = document.getElementById("total").innerText; 
  var representanteData = obtenerDatosRepresentante(); // Obtener los datos del representante
   
  // Obtener la tabla por su ID 
  var tabla = document.getElementById("tabla_factura"); 
   
  // Obtener todas las filas de la tabla 
  var filas = tabla.getElementsByTagName("tr"); 
   
  // Recorrer cada fila (empezando desde el índice 1 para omitir el encabezado) 
  for (var i = 1; i < filas.length - 1; i++) { 
    var fila = filas[i]; 
     
    // Obtener las celdas de la fila 
    var celdas = fila.getElementsByTagName("td"); 
     
    // Verificar que la fila contiene celdas antes de obtener los datos 
    if (celdas.length > 0) { 
      var filaData = { 
        cantidad: celdas[0].innerText, 
        producto: celdas[1].innerText, 
        precio: celdas[2].innerText, 
        subtotal: celdas[3].innerText,

        total_a_pagar: total_a_pagar,
        representante: representanteData
      }; 
       
      tableData.push(filaData); 
    } 
  } 
 
  return tableData; 
}

function obtenerDatosRepresentante() {
  var representanteData = {
    // cedula: document.getElementById("cod_cedula").value + document.getElementById("txtCedula").value,
    fecha : document.getElementById("txtFecha").value,    
    cedula: document.getElementById("txtCedula").value,
    nombre: document.getElementById("txtNombre").value,
    apellido: document.getElementById("txtApellido").value,
    direccion: document.getElementById("txtDireccion").value
  };
  
  return representanteData;
}



function guardarPDF() {

    //Validar los campos

    //Obtener los valores de los input del formulario PRODUCTOS
    var terapia = document.getElementById("txtTerapia").value; 
    var cantidad = document.getElementById("txtCantidad").value; 
    var precio = document.getElementById("txtPrecio").value;

    //Obtener los valores de los input del formulario REPRESENTANTE
    var fecha = document.getElementById("txtFecha").value; 
    var cedula = document.getElementById("txtCedula").value; 
    var nombre = document.getElementById("txtNombre").value;
    var apellido = document.getElementById("txtApellido").value;
    var direccion = document.getElementById("txtDireccion").value;

    //Evitar la ejecución de la función en caso de que alguno de los
    //campos esté vacío


    if (fecha == '' || cedula == '' || nombre == '' || apellido == '' || direccion == '') {

        // Mostrar mensaje de error

        var mensajeContainer = document.getElementById("mensaje");
        mensajeContainer.textContent = "Debe llenar todos los campos antes de guardar la factura";

        // Ocultar el div después de 3 segundos

        setTimeout(function() {
        mensajeContainer.innerHTML = ""; // Vaciar el contenido del div
        }, 4000);

        return;

    }


    // Obtener los datos de la tabla 
    var tableData = obtenerDatosTabla(); 

    // Verificar si hay filas en la tabla
    if (tableData.length === 0) {
    // console.log('No se han introducido filas en la tabla.');
    return; // Salir de la función si no hay filas
    }

    // Realizar la petición AJAX 
    fetch('/generar_pdf/' + JSON.stringify(tableData)) 
    .then(response => response.blob()) 
    .then(blob => { 
        // Generar la URL del objeto Blob 
        const url = window.URL.createObjectURL(blob); 
        
        // Abrir el PDF en una nueva ventana 
        window.open(url, '_blank'); 
    }) 
    .catch(error => console.error('Error:', error)); 
    }











    </script>

    

    

</form>
{% include 'footer.html' %}