{% include 'header.html' %}

<form class="form-login m-auto" method="post" action="/store_rep" enctype="multipart/form-data">



        <form class="form-login">
        <!-- <img style="width:100%;" src="{{ url_for('static', filename='img/small2.png') }}" alt=""> -->
            <h1 class="h3 mb-3 fw-normal">Nuevo Representante</h1>
    
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Cédula</label>
                
                <select class="form-select form-select-lg" id="cod_cedula"
                style="margin-right:14px">
                    <option value="1">V</option>
                    <option value="2">J</option>
                    <option value="3">E</option>
    
                </select>
    
                <input id="txtCedula" class="form-control col-7" type="text" name="txtCedula">
    
            </div>
            
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Nombre</label>
                <input id="txtNombre" class="form-control col-8" type="text" name="txtNombre">
    
            </div>
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Apellido</label>
                <input id="txtApellido" class="form-control col-8" type="text" name="txtApellido">
    
            </div>
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Dirección</label>
                <input id="txtDireccion" class="form-control col-8" type="text" name="txtDireccion">
    
            </div>
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Teléfono</label>
                <select class="form-select form-select-lg" id="cod_numero"
                style="margin-right:6px" name="cod_numero">
    
                    <option value="0412">0412</option>
                    <option value="0414">0414</option>
                    <option value="0416">0416</option>
                    <option value="0424">0424</option>
                    <option value="0426">0426</option>
                </select>
    
    
                <input id="txtTelefono" class="form-control col-4" type="text" name="txtTelefono">
    
            </div>
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Correo</label>
                <input id="txtCorreo" class="form-control col-8" type="text" name="txtCorreo" placeholder="correo@ejemplo.com">
    
            </div>
    
            <!-- <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Usuario</label>
                <input id="txtUsuario" class="form-control col-8" type="text" name="txtUsuario">
    
            </div>
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Contraseña</label>
                <input id="txtPassword" class="form-control col-8" type="password" name="txtPassword">
    
            </div> -->

              
            <div id="Representante_Ocupacion" class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Ocupación</label>
                <input id="txtOcupacion" class="form-control col-8" type="text" name="txtOcupacion">
    
            </div>    
    
    
            <div id="Representante_Empresa" class="row" style="margin-bottom: 20px;">
                <label for="floatingInput" class="col-3">Empresa</label>
                <input id="txtEmpresa" class="form-control col-8" type="text" name="txtEmpresa" placeholder="Empresa donde trabaja...">
    
            </div>
    

    
    
    
            
            <input type="submit" class="Registrarse button-login w-100" style="background-color:green;" value="Agregar">
            <button class="Registrarse button-login w-100" style="background-color: brown;">Cancelar</button>
    
            
        </form>

    

</form>
{% include 'footer.html' %}