{% include 'header.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

    <form class="form-login m-auto" method="post" action="/agregar_nino" enctype="multipart/form-data">
        <h1 class="h3 mb-3 fw-normal text-center">Agregar Niño</h1>

        {% if current_user.rol == 'representante' %}

        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Representante</label>
            <input id="txtCedula" class="form-control col-8" value="{{current_user.cedula}}" type="text" name="txtCedula" readonly required>
        </div>

        {% else %}

        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Representante</label>
            <input id="txtCedula" class="form-control col-8" type="text" name="txtCedula" pattern="[0-9]+" title="Sólo se permiten números" placeholder="Cedula del representante..." required>
        </div>

        {% endif %}

        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Nombre</label>
            <input id="txtNombre" class="form-control col-8" type="text" name="txtNombre" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres" required>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Apellido</label>
            <input id="txtApellido" class="form-control col-8" type="text" name="txtApellido" pattern="[a-zA-Z\s]+" title="Sólo se permiten caracteres" required>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtFecha_Nac" class="col-3">Fecha de Nacimiento</label>
            <input id="txtFecha_Nac" class="form-control col-8" type="date" name="txtFecha_Nac" onchange ="calcularEdad()">
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtEdad" class="col-3">Edad</label>
            <input id="txtEdad" class="form-control col-8" type="text" name="txtEdad" pattern="[0-9]+" title="Sólo se permiten números">
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="floatingInput" class="col-3">Escolaridad</label>
            <select class="form-select form-select-lg" id="txtEscolaridad" name="txtEscolaridad" style="margin-right:14px">
                <option value="1er Grado">1er Grado</option>
                <option value="2do Grado">2er Grado</option>
                <option value="3er Grado">3er Grado</option>
                <option value="3er Grado">4to Grado</option>
                <option value="3er Grado">5to Grado</option>
                <option value="3er Grado">6to Grado</option>
            </select>
            <!-- <input type="hidden" id="txtEscolaridad" class="form-control col-7" type="text" name="txtEscolaridad"> -->
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtLugarNac" class="col-3">Lugar de Nacimiento</label>
            <input id="txtLugar_Nac" class="form-control col-8" type="text" name="txtLugar_Nac">
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <label for="txtNum_Hermanos" class="col-3">Num. Hermanos</label>
            <input id="txtNum_Hermanos" class="form-control col-8" type="text" name="txtNum_Hermanos" pattern="[0-9]+" title="Sólo se permiten números" required>
        </div>


        

        <button type="submit" class="btn button-login w-100" style="background-color:green; margin-bottom:6px; margin-top:15px;">Agregar</button>
        <button class="btn button-login w-100" style="background-color: brown;" onclick="goBack()">Cancelar</button> 
    </form>

    <!-- <script>


    var edadInput = document.getElementById('txtEdad');

    edadInput.addEventListener('keydown', function(event) { 
    var keyCode = event.keyCode || event.which; 
    console.log(keyCode); // Verifica si se está ejecutando la función 
    if (keyCode < 48 || keyCode > 57) { 
        event.preventDefault(); 
    } 
});

    </script> -->
    

    


{% include 'footer.html' %}