{% include 'header.html' %}

{% for usuario in usuarios %}

    <form class="form-login m-auto" method="post" action="/update_user" enctype="multipart/form-data">

        <!-- Este input oculto contiene el tipo de usuario para que sirva el boton Modificar -->
        <input type="hidden" value="especialista" name="tipo_usuario" id="tipo_usuario">

        <form class="form-login">

            <h1 class="h3 mb-3 fw-normal">Editar Usuario</h1>
    
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Cédula</label>
                
                <select class="form-select form-select-lg" id="cod_cedula"
                style="margin-right:14px">
                    <option value="1">V</option>
                    <option value="2">J</option>
                    <option value="3">E</option>
    
                </select>
                
                {% if current_user.rol == 'director' %}

                <input id="txtCedula" value="{{ usuario[2] }}" class="form-control col-7" type="text" name="txtCedula">

                {% else %}

                <input id="txtCedula" value="{{ usuario[2] }}" class="form-control col-7" type="text" name="txtCedula" readonly>

                {% endif %}
    
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Nombre</label>
                <input id="txtNombre" value="{{ usuario[3] }}"  class="form-control col-8" type="text" name="txtNombre">
    
            </div>
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Apellido</label>
                <input id="txtApellido" value="{{ usuario[4] }}"  class="form-control col-8" type="text" name="txtApellido">
    
            </div>
    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Dirección</label>
                <input id="txtDireccion" value="{{ usuario[5] }}"  class="form-control col-8" type="text" name="txtDireccion">
    
            </div>

            <input type="hidden" value="{{ usuario[0] }}" name="txtID" id="txtID">

            
            
<!-- Codigo para mostrar el telefono -->

            {% if usuario[8] %}
            {% set telefonos = usuario[8].split(',') %}
            {% for telefono in telefonos %}
              <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Teléfono</label>
                <select class="form-select form-select-lg" id="cod_numero_{{ loop.index }}" name="cod_numero_{{ loop.index }}">
                  <option value="0412" {% if telefono.startswith('0412') %}selected{% endif %}>0412</option>
                  <option value="0414" {% if telefono.startswith('0414') %}selected{% endif %}>0414</option>
                  <option value="0416" {% if telefono.startswith('0416') %}selected{% endif %}>0416</option>
                  <option value="0424" {% if telefono.startswith('0424') %}selected{% endif %}>0424</option>
                  <option value="0426" {% if telefono.startswith('0426') %}selected{% endif %}>0426</option>
                </select>
                <input id="txtTelefono" class="form-control col-4" type="text" name="txtTelefono_{{ loop.index }}" value="{{ telefono[4: ] }}">
              </div>
            {% endfor %}
          {% else %}
            <p>No se encontraron teléfonos para este usuario.</p>
          {% endif %}

    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Correo</label>
                <input id="txtCorreo" value="{{ usuario[6] }}"  class="form-control col-8" type="text" name="txtCorreo" placeholder="correo@ejemplo.com">
    
            </div>    

    
            <div class="row" style="margin-bottom: 10px;">
                <label for="floatingInput" class="col-3">Contraseña</label>
                <input id="txtPassword" class="form-control col-8" type="password" name="txtPassword" required>
    
            </div>        
    
            
            <input type="submit" class="btn btn-success w-100" value="Modificar">
            <button class="btn button-login w-100" style="background-color: brown;" onclick="goBack()">Cancelar</button> 
            
            
        </form>




    </form>


{% endfor %}
{% include 'footer.html' %}