{% include 'header.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}


    <form class="form-login w-100 m-auto" style="width: 500px!important;" method="post" action="/entrar" enctype="multipart/form-data">

        <img style="width:100%;" src="{{ url_for('static', filename='img/small2.png') }}" alt="">
        <h1 class="h3 mb-3 fw-normal text-center">Iniciar Sesión</h1>


        <div class="form-floating" style="margin-bottom: 5px;">
            <label for="floatingInput" class="fantasma">Usuario</label>
            <input type="text" class="form-control" id="txtCedula" name="txtCedula" placeholder="Cédula..." pattern="[0-9]+" title="Sólo se permiten números">

        </div>
        <div class="form-floating">
            <label for="floatingPassword" class="fantasma">Contraseña</label>
            <input type="password" class="form-control" id="txtContrasena" name="txtContrasena"placeholder="Password">

        </div>

        <!-- <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Recordar sesión
            </label>
        </div> -->
        
        <div>
            <button type="submit" class="btn button-login w-100" style="background-color:green; margin-bottom:6px; margin-top:15px;">Entrar</button>

            <a href="/registro" class="button-login w-100" style="background-color: brown">Registrarse</a>
            <a href="/recuperar_contrasena">¿Olvidó su contraseña?</a>
        </div>
    </form>


        



{% include 'footer.html' %}