{% include 'header.html' %}





    <section class="container principal">

        <div class="d-flex justify-content-center">

            <h1 class="titulo">

                Centro de Atención para Niños con 
                Necesidades Especiales (CAINES)
                
            

            </h1>


        </div>

        
        <p class="texto-principal">


            "Donde cada niño es único 
             y la integración es la clave"




        </p>

        {% if current_user.is_authenticated %}

        <div>

            <a href="/menu"  class="btn btn-info boton-principal">


                Menú


            </a>
            

        </div>


        {% else %}

        <div>

            <a href="/login"  class="btn btn-info boton-principal">


                Iniciar sesión


            </a>
            

        </div>

        {% endif %}











    </section>






    <!-- Texto -->

    <div class="row justify-content-center container-parrafo">

        <h3 class="row justify-content-center">

            ¡Conócenos!
    
        </h3>


            <p>

                En CAINES, nos enorgullece el compromiso de ayudar a los
                niños con necesidades educativas especiales.
                Somos el lugar indicado para que su hijo goce de un aprendizaje seguro, acogedor y estimulante.

                Nuestro equipo de educadores altamente capacitados y apasionados se esfuerza por proporcionar
                una educación personalizada y centrada en el potencial único de cada niño.
                Nos esforzamos por desarrollar sus habilidades académicas, sociales y emocionales, y promover su independencia
                y confianza en sí mismos.

            </p>

    </div>
  
    <!-- Servicios que Ofrece -->

    <h3 class="row justify-content-center"
    style="margin:20px;">

        Te ofrecemos...
    
    </h3 class="row justify-content-center">

    <div class="row justify-content-center">

        <div class="col-3 contenedor-terapia">

            <h4>
                Lenguaje
            </h4>   


            <p> 
                    
                Mejora las habilidades lingüísticas y de comunicación
                de tu hijo(a) con nuestra terapia especializada. 
                    
                Utilizamos técnicas y actividades divertidas para facilitar
                el aprendizaje y ayudar a los niños a alcanzar su máximo
                potencial.
                
            </p>

            <a href="#" class="btn">Saber más...</a>

            <div class="image-container">

                <img src="{{ url_for('static', filename='img/lengua.png') }}">

            </div>


        </div>

        <div class="col-3 contenedor-terapia">

            <h4>

                Psicopedagogía

            </h4>



                <p>
                    Apoyamos el desarrollo académico y emocional de los
                    niños a través de estrategias personalizadas y técnicas
                    de aprendizaje efectivas gracias a nuestro equipo que 
                    brinda apoyo individualizado a para fomentar el autoestima
                    y maximizar las capacidades.
                </p>

                <a href="#" class="btn">Saber más...</a>
                <div class="image-container">

                    <img src="{{ url_for('static', filename='img/psico.png') }}">
    
                </div>


        </div>

        <div class="col-3 contenedor-terapia">

            <h4>

                Ocupacional

            </h4>

            <p>
                Ayudamos a los niños a desarrollar habilidades para participar
                en las actividades diarias y mejorar su calidad de vida.
                Nuestro enfoque terapéutico se centra en promover la 
                independencia funcional a través de actividades significativas
                y adaptaciones individualizadas.
            </p>

            <a href="#" class="btn">Saber más...</a>
            <div class="image-container">
            <img src="{{ url_for('static', filename='img/silla.png') }}">
                
            </div>
            
        </div>

    </div>










</div>
















{% include 'footer.html' %}