{% include 'header.html' %}






        <form class="form-inline" method="post" action="/buscar_usuario" enctype="multipart/form-data">
          

        <a href="{{url_for('create_user')}}" id="boton-ingresar" class="btn btn-success">Registrar</a> 

        <input type="text" id="input-buscar" class="form-control ml-auto" name="buscar" placeholder="Buscar representante..." required>

        <button id="boton-buscar" class="btn btn-info">Buscar</button>
        
        <!-- Este input oculto contiene el tipo de usuario para que sirva el boton Buscar -->
        <input type="hidden" value="representante" name="tipo_usuario" id="tipo_usuario">

        </form>
        









        <!-- <br> -->



        
            <table id="tabla_rep" class="table-wrapper-scroll-y my-custom-scrollbar table table-light tablas
            border border-secondary rounded" style="margin:10px;"
            cellspacing="0" >
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th class="w-100">Acciones</th>

                    </tr>
                </thead>
                <tbody>

                    {% for usuario in usuarios %}

                    
                    <tr>
                        <td>{{usuario[0] }}</td>
                        <td>{{usuario[2] }}</td>
                        <td>{{usuario[3] }}</td>
                        <td>{{usuario[4] }}</td>
                        <td>{{usuario[6] }}</td>


                        <td> 
                            <div class="btn-group col">
                                <a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal{{usuario[0]}}">Ver</a>
                                <a class="btn btn-warning" href="/edit_user/{{usuario[0]}}">Editar</a>
                                <a class="btn btn-danger" href="/destroy_user/{{usuario[0]}}" onclick="return confirm('¿Desea borrar el registro?')">Eliminar</a>
                   
                            </div>           
                        </td>

                    </tr>
                    
                    {% endfor %}

                
                </tbody>



            </table>


            <!-- Codigo para mostrar el modal con los datos del usuario -->

            {% for usuario in usuarios %}


            <div class="modal fade" id="myModal{{usuario[0]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Datos del usuario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <p>Cédula: {{usuario[2]}}</p>
                    <p>Nombre: {{usuario[3]}}</p>
                    <p>Apellido: {{usuario[4]}}</p>
                    <p>Dirección: {{usuario[5]}}</p>
                    <!-- <p>Ocupación: {{usuario[5]}}</p> -->
                    <p>Correo: {{usuario[6]}}</p>
                    <!-- <p>Empresa: {{usuario[7]}}</p> -->
                    <p>Telefono: {{usuario[8]}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            
            {% endfor %}
        




  



    
        







    
    </div>








{% include 'footer.html' %}