    </div>
    <footer>

     © 2023. CAINES - Centro de Atención Integral para Niños con Necesidades Especiales. Maturín, Estado Monagas - Venezuela. 2023.


    </footer>

<!-- Codigo para que los Modales funcionen -->
    <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}"></script> 	
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
     		


</body>
</html>